<div id="container1">
    <div class="about" id="aboutid">
      <h1 id="heading">Hear It From Our ProGrads</h1>
      <p id="aboutprograd">
        Being a ProGrad is a life-time experience. in the past,we have several
        times tried showing the world what is to be a ProGrad.But,we soon
        realised that no one can better describe this journey than our ProGrad
        themselves.
      </p>
      <p id="mission">
        So here we are with a mission to let the world hear it from our
        ProGrads!
      </p>
      <p id="hatchtag">#ProudProGrads #YourDreamOurMission</p>
    </div>
    <div class="about" id="imgid">
      <img src="../../assets/image.png" alt="not loading" />
    </div>
  </div>

  <div id="container2">
    <h2>Here is What Our ProGrad have to say</h2>
    <div class="insidecontainer">
      <p class="insidefloat">
        <span><img src="../../assets/contact.png" alt="" /></span>
      </p>
      <p class="insidefloat">
          HARSH<br>
          In my academics,i have only learnt theoretical concept but FACE Progrds help me developing practical knoeledge of using those concept. 
      </p>
      <hr />
      <p class="insidefloat">
        <span><img src="../../assets/contact.png" alt="" /></span>
      </p>
      <p class="insidefloat">
        HARSH<br>
        In my academics,i have only learnt theoretical concept but FACE Progrds help me developing practical knoeledge of using those concept. 
      </p>
    </div>
  </div>
